<header class="navigation wrapper">
    <a href="#" class="company">
        <div class="company__logo">
            <svg width="100%" height="100%" viewBox="0 0 56 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M56 19.5938L44.6875 0L38.03 11.5312L33.2578 3.26563L26.2131 15.4674L20.7396 5.98699L0 41.909H41.4791L36.6085 33.4727H50.6979L42.6849 19.5938H56Z" fill="#8CC5F9"/>
            </svg>
        </div>
        <h1 class="company__title">Your brand</h1>
    </a>
    <nav class="menu">
        <a href="/" class="menu__link">About us</a>
        <a href="/" class="menu__link">Products</a>
        <a href="/" class="menu__link">How we work</a>
        <a href="/" class="menu__link">Blog</a>
        <a href="/contacts.html" class="menu__link">Contact</a>
    </nav>
    <div class="localization">
        En
    </div>
</header>